@import '../../styles/globals.css';

.form {
    max-width: 400px;
    text-align: center;
    background-color: var(--white-color);
    padding: 20px 20px;
    border-radius: 12px;
}

.heading {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(10px);
    }
    50% {
        transform: translateX(4px);
    }
    75% {
        transform: translateX(6px);
    }
    100% {
        transform: translateX(0);
    }
}

.field {
    margin-bottom: 20px;
    position: relative;

    input {
        width: 100%;
        border: none;
        outline: none;
        border-bottom: 1px solid var(--sea-blue);
        padding: 10px 0;
        font-size: 16px;
    }
    &:focus-within::after {
        width: 100%;
    }
    &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 2px;
        background-color: var(--black-color);
        transition: width 0.25s ease-in-out;
    }

    .error {
        position: absolute;
        bottom: -14px;
        font-size: 12px;
        color: var(--red-color);
        animation: shake 0.25s;
    }
}

.btn-submit {
    width: 100%;
    padding: 10px 0;
    background-color: var(--sea-blue);
    border: none;
    border-radius: 20px;
    color: var(--white-color);
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.subscript {
    .link {
        color: var(--sea-blue);
        cursor: pointer;
    }
}
