@import '../../styles/globals.css';

.container {
    width: 320px;
    background-color: var(--white-color);
    border-radius: 8px;
    overflow: hidden;
}

.input-wrapper {
    position: relative;
    border-bottom: 1px solid var(--black-color);

    input {
        width: 100%;
        padding: 10px 100px 10px 16px;
        font-size: 18px;
        border: none;
        outline: none;
        color: var(--input-color);
    }
    .btn-add {
        position: absolute;
        right: 16px;
        padding: 6px 14px;
        font-size: 16px;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 4px;
        background-color: var(--green-color);
        border: none;
        color: var(--white-color);
        cursor: pointer;
    }
}

.todo-list {
}

.item {
    padding: 10px 35px 10px 16px;
    border-bottom: 1px solid var(--gray-color);
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    &:hover {
        .btn-remove {
            display: block;
        }
    }

    .btn-remove {
        color: var(--gray-color);
        position: absolute;
        right: 16px;
        cursor: pointer;
        display: none;
    }
}
