* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --pink-color: #f2726a;
    --white-color: #fff;
    --black-color: #000;
    --input-color: #242628;
    --border-color: #333;
    --gray-color: #ccc;
    --card-color: #242628;
    --green-color: #45c39d;
    --red-color: #f55462;
    --light-blue: #78c0c9;
    --sea-blue: #17a2b8;
    --green-color: #9acd32;
    --purple-color: #6a59d3;
    --success-color: #8ec391;
    --warning-color: #f4d291;
    --error-color: #f49091;
    --border-success-color: #008000;
    --border-warning-color: #ffa500;
    --border-error-color: #ff0000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

html {
    font-family: helvetica, arial, sans-serif;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}
