@import '../../styles/globals.css';

.card {
    min-width: 300px;
    border-radius: 12px;
    border: 1px solid var(--light-blue);
    overflow: hidden;
    margin: 0 8px;
}

.title {
    background-color: var(--light-blue);
    font-size: 20px;
    color: var(--white-color);
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.content {
    font-size: 20px;
    text-align: center;
    padding: 12px;
    background-color: var(--white-color);
}
