.container {
    overflow: hidden;
}

.full {
    border-radius: 100%;
}

.partial {
    border-radius: 100%;
}

.little {
    border-radius: 2%;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 0.25s;
    cursor: pointer;

    &:hover {
        transform: scale(1.3);
        transition: all 0.25s;
    }
}
